<launch>

	<!--You can switch between which gazebo file you want to run the turtlebot3 in, make sure to comment the other one out -->
	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch"/>
	<!--include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"-->

	<!--	
	<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
                <arg name="map_file" value="$(find WinterProject/newturtlebot3)/map.yaml"/>
        </include>


	<node name="killMapServer" pkg="rosnode" type="rosnode" args="kill map_server" />

	-->
	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
                <arg name="model" value="burger" />
        </include>


        <include file="$(find slam_toolbox)/online_async.launch"/>

	<include file="$(find turtlebot3_navigation)/launch/move_base.launch">
                <arg name="model" value="burger" />
                <arg name="move_forward_only" value="false"/>
        </include>


	<node pkg="rviz" type="rviz" name="rviz" required="true"
        	args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>

		
	<node name="frontierExplore" pkg="newturtlebot3" type="explornode" output="screen"/>

</launch>
